/*styles/main.css */

body  {
	 background: pink;
	font-family: 'Roboto Slab', serif;
	}
	 

	h1 {color:white;}
ol { font-weight: bold; }
li {
color: rgb(145,200,255);
}
a{
	text-decoration: none;
	color:  rgb(145,200,255);
}

#nav{
  border: 2px solid red;
  border-radius: 9px;
  background: white;
  text-align: center;
}
#h1 {
	text-align: center;
}
.margin-borders {
	border-style: dashed;
	border-color: red;
	margin: 20,20,20,20;
	padding: 20px;


}
#my-img-float-left {
float: left;
margin: 30px;
}
.p-class {
	margin: 15px;
	padding:15px;
}
#div-float {
	border: solid 5px red; 
	overflow: auto;
}